body {
    padding-top: 50px;
    padding-bottom: 20px;
}

textarea {
    width: 280px;
}

.hide {
    display: none;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

    /* Flip around the padding for proper display in narrow viewports */
    .navbar-wrapper .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-wrapper .navbar {
        padding-left: 15px;
        padding-right: 15px;
    }

.navbar-content {
    width: 320px;
    padding: 15px;
    padding-bottom: 0px;
}

    .navbar-content:before, .navbar-content:after {
        display: table;
        content: "";
        line-height: 0;
    }

.navbar-nav.navbar-right:last-child {
    margin-right: 15px !important;
}

.navbar-footer {
    background-color: #DDD;
}

.navbar-footer-content {
    padding: 15px 15px 15px 15px;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

/*@media (min-width: 320px) and (max-width: 568px) {
    label{
        margin-left:4%;
    }

    .info-add{
        margin-left:4%;
    }
}*/

/*estilos para gif de loading*/
.loader {
    display: none;
}

    .loader.show {
        display: block;
        position: fixed;
        z-index: 100;
        background-color: rgba(0, 0, 0, 1);
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
    }

.loading {
    display: block;
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.64);
    opacity: 0.8;
    filter: alpha(opacity=80);
}
