@model Checklist.Models.user

@{
    ViewBag.Title = "Alterar Senha";
}
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="col-lg-offset-1"><img src="~/Images/change-password.png" width="40" height="40" /><b><u>Alterar Senha</u></b></h4>
        <hr />
        <div class="form-group">
            <span class="col-md-4 col-lg-offset-1">@Html.ValidationMessage("success", new { @class = "text-success" })</span>
            <span class="col-md-6 col-lg-offset-2">@Html.ValidationMessage("error", new { @class = "text-danger" })</span>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Senha antiga:</label>
            <div class="col-md-3">
                <input type="password" name="oldPass" class="form-control" placeholder="🔑 Digite sua senha antiga..." maxlength="100" required autofocus />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nova Senha:</label>
            <div class="col-md-3">
                <input type="password" name="newPass" class="form-control" placeholder="🔑 Digite sua nova senha..." maxlength="100" required autofocus />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Confirmar nova senha:</label>
            <div class="col-md-3">
                <input type="password" name="confirmNewPass" class="form-control" placeholder="🔑 Confirme sua nova senha..." maxlength="50" required autofocus />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="💾 SALVAR" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("ListTasks","Tasks")">Voltar para minhas tarefas...</a>
</div>
